<script type="text/javascript">
  $(function() {
    app.render_root();
  });
</script>

<h1>THE ARTIST IS NOT PRESENT</h1>

<div id="project-description">
  
  <p>Whether we want to or not, our lives are controlled by computers. So-called learning algorithms are increasingly responsible for delivering the information that powers our decisions: what we consume, who we interact with, and what we believe.</p>

  <p>The Artist Is Not Present is a conceptual art piece and a custom piece of software written specifically to run during the 3 weeks of the SP Urban Festival in Sao Paolo. The software is an autonomous algorithm that continuously generates geometric art, evaluates it according to the aesthetic taste of its creator, and adapts.</p>

  <p>During the 3 weeks of the festival, the software will generate 50,0000 unique works live on the SESI building, and simultaneous upload them to this online gallery.</p>

  <p>The Artist Is Not Present raises the question of our dependence on logical machines in our quest to live uniquely human lives, by turning the computer into something supposedly uniquely human: an artist.</p>

</div>