<h1>THE ARTIST IS NOT PRESENT</h1>

<figure>
  <img src="/images/test.svg" type="image/svg+xml" />
  <figcaption>Generation <span class="highlight">1</span> Work <span class="highlight">7</span> 13/12/24 19:37</figcaption>
</figure>

<figure>
  <img src="/images/test.svg" type="image/svg+xml" />
  <figcaption>Generation <span class="highlight">1</span> Work <span class="highlight">7</span> 13/12/24 19:37</figcaption>
</figure>

<figure>
  <img src="/images/test.svg" type="image/svg+xml" />
  <figcaption>Generation <span class="highlight">1</span> Work <span class="highlight">7</span> 13/12/24 19:37</figcaption>
</figure>

<figure>
  <img src="/images/test.svg" type="image/svg+xml" />
  <figcaption>Generation <span class="highlight">1</span> Work <span class="highlight">7</span> 13/12/24 19:37</figcaption>
</figure>

<figure>
  <img src="/images/test.svg" type="image/svg+xml" />
  <figcaption>Generation <span class="highlight">1</span> Work <span class="highlight">7</span> 13/12/24 19:37</figcaption>
</figure>

<figure>
  <img src="/images/test.svg" type="image/svg+xml" />
  <figcaption>Generation <span class="highlight">1</span> Work <span class="highlight">7</span> 13/12/24 19:37</figcaption>
</figure>

<figure>
  <img src="/images/test.svg" type="image/svg+xml" />
  <figcaption>Generation <span class="highlight">1</span> Work <span class="highlight">7</span> 13/12/24 19:37</figcaption>
</figure>

<figure>
  <img src="/images/test.svg" type="image/svg+xml" />
  <figcaption>Generation <span class="highlight">1</span> Work <span class="highlight">7</span> 13/12/24 19:37</figcaption>
</figure>

<figure>
  <img src="/images/test.svg" type="image/svg+xml" />
  <figcaption>Generation <span class="highlight">1</span> Work <span class="highlight">7</span> 13/12/24 19:37</figcaption>
</figure>

<figure>
  <img src="/images/test.svg" type="image/svg+xml" />
  <figcaption>Generation <span class="highlight">1</span> Work <span class="highlight">7</span> 13/12/24 19:37</figcaption>
</figure>